#include <configs/socfpga_agilex72_defconfig>

CONFIG_DEFAULT_DEVICE_TREE="socfpga_agilex72_socdk_emmc"
# CONFIG_SPL_DM_REGULATOR_GPIO is not set
# CONFIG_DM_REGULATOR_GPIO is not set
# CONFIG_SPL_DWAPB_GPIO is not set
# CONFIG_SPL_MMC_UHS_SUPPORT is not set
# CONFIG_MMC_UHS_SUPPORT is not set
# CONFIG_MMC_HS200_SUPPORT is not set
# CONFIG_SPL_MMC_HS200_SUPPORT is not set
# CONFIG_MMC_HS400_SUPPORT is not set
# CONFIG_SPL_MMC_HS400_SUPPORT is not set
